
body {
  background-color: #ffffff;
  
  margin-top:   50px;
  margin-right: 300px;
  margin-left:  300px;
}

table, th, td {
  border: 0px;
  margin-top: 2px;
}

.visitab {
  border: 1px solid black;
  margin-top: 2px;
  border-collapse: collapse;
}




